:root{
    --red-color: #F38181;
     --greenlight-color: #95E1D3;
     --black-color: #333333;
     --light-wight-color: #B6B6B6;
}

body{
    font-family: "Roboto", serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--black-color);
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    outline: 2px dashed red;
}
.nav-link{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--greenlight-color);
    text-decoration: none;
}
.nav-link:hover {
    color: var(--red-color);
}
.services-subtitle, .team-subtitle{
    font-family: "Kaushan Script", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.services-title, .team-title{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.services-item-title{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.services-item-text{
    color: var(--light-wight-color);
    line-height: 1.46;
}
.team-text{
    text-align: center;
    color: var(--light-wight-color);
    line-height: 1.17;
}
.post-title{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.post-text{
    color: var(--light-wight-color);
    font-style: italic;
    font-weight: 300;
    text-align: center;
}
.footer-copy, .footer-copy-name{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--black-color);
}
.footer-copy-name{
    color: var(--red-color);
    text-decoration: none;
}
.footer-form-input{
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}
.footer-form-btn{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background: var(--greenlight-color);
}
.footer-form-input{
    border: 1px solid var(--light-wight-color);
    padding: 12px 10px;
    width: 230px;
}
.footer-form-btn{
    border: none;
    padding: 12px 38px;
}
.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header{
    padding: 17px 0;
}
.nav-link:not(:last-child){
    margin-right: 55px;
}
.services-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services-item{
    width: 366px;
    margin-bottom: 100px;
    display: flex;
    align-items: flex-start;
}
.services-item-title{
    margin-top: 0;
}
.services-item-img{
    margin-right: 18px;
}